*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(rgb(80, 161, 167),rgb(123, 163, 90));
    width: 100vh;
    height:100vh;
}
#container{
    position:absolute;
    top: 50px;
    left:50%;
    transform: translate(-50%,-50%);
    padding:50px;
    width:500px;
    text-align:center;
    font-size:50px;
    color:white;
    text-shadow: 2px 0 #000,0 2px 0 #000,0 -2px #000;
    font-family: cursive;
    box-shadow: 2px 2px 4px 4px #fff;
}